 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Would you like to pin this image to your profile?</h4>    
        <div><img ng-src="{{ pin.image }}" height="300" width="250"></div>

      </div>
      <div class="modal-body">
        <div></div>
        <button type="button" ng-click="addPin(newPin.image)">Yes, pin this image!</button>button>
      </div>
      <div
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>